body {
  font-family: 'Segoe UI', 'Tahoma';
}

textarea {
  font-family: 'Segoe UI', 'Tahoma';
  width: 200px;
  height: 100px;
}

button {
  font-family: 'Segoe UI', 'Tahoma';
}

.hide {
  display: none;
}

.right-click {
  position: absolute;
  right: 10px;
  top: 10px;
}